In [5]:
import numpy as np 
import pandas as pd

#### To begin, it helps to locate the **working directory** - the folder/directory you are currently working in (where this file is being run)

In [1]:
# Print Working Directory - gives you the folder/directory you are currently "in" while using this notebook 
# running "!" before a command in Jupyter notebook tells the jupyter cell to run as if it were being typed into a terminal
!pwd

/Users/Daniel/Documents/Research Projects/Gotham_Web/INTRO_TO_PYTHON/Tutorials

Above, you should see the entire path to where this notebook exists on your machine. 

The first part should be highly individualized and specific for each person, but it should end the same: 

/Gotham_Web/INTRO_TO_PYTHON/Tutorials

In [2]:
# List of files in parent folder; ie. the one above the one we are in (we are currently in 'Tutorials', so this command lists all files in 'GAMA')
!ls ..

Tutorials    intro_python sample_data

In [3]:
# We want to access the data in sample_data -> going "up" and then "into" the sample_data folder
!ls ../sample_data

GAMA_sample1.csv

In [3]:
# As an example of chaning directories, we can go "up" multiple layers of data 
!ls ../..

COMMONS      INTRO_PYTHON OBSERVATIONS STATISTICS
FILAMENTS    ML           SIMULATIONS  STRUCTURE.md

In [8]:
# And then redirect into another directory - shows all folders in the STATISTICS sub directory
!ls ../../STATISTICS/

Tutorials  statistics

In [7]:
# Import data 
path = '../sample_data/GAMA_sample1.csv' # .. tells your computer to move working directory "up" to parent (GAMA) and then change directories into everything following the slash / 
 # Pandas allows you to important different kinds of files into a DataFrame - a 2D structure that is vectorized (built on Numpy) to make visualizing your data easier
my_data = pd.read_csv(path)    
my_data

,CATAID,RA,DEC,CATAID.1,Z,nQ,SURVEY_CODE,Z_TONRY,logmstar,dellogmstar
0,6802,174.00600,0.72093,6802,0.05054,4,5,0.051814,9.076030,0.131666
1,6806,174.02279,0.70594,6806,0.33124,4,5,0.332854,10.979200,0.099166
2,6808,174.10071,0.65891,6808,0.22936,4,5,0.230851,10.791600,0.098116
3,6810,174.10908,0.80390,6810,0.32630,4,5,0.327908,11.119700,0.096136
4,6816,174.01896,0.66580,6816,0.07641,4,5,0.077715,9.012390,0.146456
...,...,...,...,...,...,...,...,...,...,...
113153,4321789,219.54175,1.20398,4321789,0.29884,4,5,0.299822,10.410600,0.131773
113154,4322179,220.18208,1.03991,4322179,0.22929,3,5,0.230207,9.689020,0.164714
113155,4327264,215.73183,1.66110,4327264,0.00006,4,5,0.000001,0.464692,0.168939
113156,4327642,222.77558,1.53559,4327642,0.00034,4,5,0.000004,1.253310,0.103429
113157,4348349,180.76758,-0.12518,4348349,0.12256,4,5,0.123897,9.825090,0.060988

In [8]:
# Alternatively you can also import the data by explicitly typing your path 
my_path = '/Users/Daniel/Documents/Research Projects/Gotham_Web/INTRO_PYTHON/sample_data/GAMA_sample1.csv'
pd.read_csv(my_path) # Note that you will need to change this path to your working path, notably everything before '/Gotham_Web'

,CATAID,RA,DEC,CATAID.1,Z,nQ,SURVEY_CODE,Z_TONRY,logmstar,dellogmstar
0,6802,174.00600,0.72093,6802,0.05054,4,5,0.051814,9.076030,0.131666
1,6806,174.02279,0.70594,6806,0.33124,4,5,0.332854,10.979200,0.099166
2,6808,174.10071,0.65891,6808,0.22936,4,5,0.230851,10.791600,0.098116
3,6810,174.10908,0.80390,6810,0.32630,4,5,0.327908,11.119700,0.096136
4,6816,174.01896,0.66580,6816,0.07641,4,5,0.077715,9.012390,0.146456
...,...,...,...,...,...,...,...,...,...,...
113153,4321789,219.54175,1.20398,4321789,0.29884,4,5,0.299822,10.410600,0.131773
113154,4322179,220.18208,1.03991,4322179,0.22929,3,5,0.230207,9.689020,0.164714
113155,4327264,215.73183,1.66110,4327264,0.00006,4,5,0.000001,0.464692,0.168939
113156,4327642,222.77558,1.53559,4327642,0.00034,4,5,0.000004,1.253310,0.103429
113157,4348349,180.76758,-0.12518,4348349,0.12256,4,5,0.123897,9.825090,0.060988